@{
    ViewData["Title"] = "About";
}
 <div class="container">

      <!-- Introduction Row -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">About Us

              </h1>
              <p id="missionstatement">LPX, Logical Procurement Excellence, is about ensuring our customers are procuring their goods at the lowest cost, bringing more profit dollars to their organization which in turn aids them in being successful. With no ties to any distributor or products, our one and only mission is to assist our customers in maximizing leverage and profit.
</p>
          </div>
      </div>

      <!-- Team Members Row -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Our Team</h2>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="raybio.jpg" width="200" height="200" alt="ray">
              <h3>Ray Schiffer
                  <small id="tagline">Co-Founder, President, CEO</small>
              </h3>
              <p>Ray, while being a co-founder, oversees the entire organization. His career expands over 35 years in the food service industry, holding many positions from delivery driver to President and CEO. He has a clear understanding of the difficulty of running a restaurant on a daily basis, as well as the distributors goal to meet earnings. The one constant that remains the same in the industry is that independent restaurants are paying two and half times the margins that the large chain restaurants have to pay. It’s Ray’s vision to bring procurement excellence and leverage to not only help the independent restaurants grow, but survive in this economy.</p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>Mark J McCarthy
                  <small id="tagline">Senior Vice President and General Council</small>
              </h3>
              <p>Mark has practiced law in the state of New York for over 3 decades and has worked closely with independent restaurant owners on a variety of issues. While being an attorney, he is still passionate about the restaurant industry in which he aids in the handling of all compliancy and contracts for the organization.</p>
          </div>


          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
              <h3>Michael J Lucarelli
                  <small id="tagline">Vice President of Design and Marketing Research</small>
              </h3>
              <p>Michael oversees the design and user interface of our system. While holding direct sales responsibility in New York State and customer implementations, he also leads our customer analytic and research department that supplies information to help leverage to the lowest cost good to the consumer.
</p>
          </div>
      </div>

      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="derek.jpg" width="200" height="200" alt="">
          <h3>Derek Cacciotti
              <small id="tagline">Vice President of Development and Services</small>
          </h3>
          <p>Derek has worked in the Information Technology industry for many years. Derek specializes in the areas of Software Development and Networking. In the past he created custom software and networked solutions for a variety of organizations. At LPX, Derek is overseeing the current and future developments of our system and database.</p>
      </div>
  </div>


  <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="carlee.png" width="200" height="200" alt="carlee">
      <h3>Carlee Bryda
          <small id="tagline">Public Relations and Marketing </small>
      </h3>
      <p>Carlee brings experience and knowledge in marketing, public relations and brand mangement. She is familiar with the food and beverage industry. At LPX, she implements marketing and advertsing strategies to better help our customers recognize and understand our mission. Carlee also organizes promotions and manages social media and email marketing. </p>
  </div>
</div>

      <hr>


</div>

  </div>

      <hr>


</div>